<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"<%= dataHead[1].title %>"</title>
    <meta name="description" content="<%= dataHead[1].metadescription %>" />
    <meta name="keywords" content="<%= dataHead[1].metakeywords %>">
    
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header class="header"><%- include('../partials/header')%></header>
    <section class="about" id="about">
      <div class="about-content">
        <img src="<%=dataAbout[0].image %>" alt="Обо мне" />
        <div class="text">
          <h2><%= dataHeader[0].list[1] %></h2>
          <p><%- dataAbout[0].text %></p>
        </div>
      </div>
    </section>
  </body>
</html>
<script src="./script.js"></script>
