<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project-nodejs</title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <!-- Header Section -->
    <header class="header"><%- include('../partials/header')%></header>

    <!-- About Section -->
    <section class="about" id="about">
      <div class="about-content">
        <img src="<%=dataAbout[0].image %>" alt="Обо мне" />
        <div class="text">
          <h2><%= dataHeader[0].list[1] %></h2>
          <div class="about-text"><%- dataAbout[0].text %></div>
          <button onclick="toAboutPage()">Подробнее</button>
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <section class="services" id="services">
      <h2><%= dataHeader[0].list[2] %></h2>
      <% for (let i=0; i < dataServices.length; i++) {%>
      <div class="service">
        <img src="<%=dataServices[i].image %>" alt="Услуга 1" />
        <p><%=dataServices[i].name%></p>
        <div><%-dataServices[i].text%></div>
      </div>
      <%} %>
    </section>

    <!-- Blog Section -->
    <section class="blog" id="blog">
      <h2><%= dataHeader[0].list[3] %></h2>
      <% for (let i=0; i < dataArticles.length; i++) {%>
      <div class="article">
        <img src="<%=dataArticles[i].image %>" alt="Статья" />
        <p><%=dataArticles[i].name%></p>
        <div><%-dataArticles[i].text%></div>
      </div>
      <%} %>
    </section>
  </body>
</html>
<script src="./script.js"></script>
